@font-face {
	font-family: 'Conv_Lobster-Regular';
	src: url('../fonts/Lobster/Lobster-Regular.eot');
	src: local('☺'), url('../fonts/Lobster/Lobster-Regular.woff') format('woff'), url('../fonts/Lobster/Lobster-Regular.ttf') format('truetype'), url('../fonts/Lobster/Lobster-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_MarckScript-Regular';
	src: url('../fonts/Marck_Script/MarckScript-Regular.eot');
	src: local('☺'), url('../fonts/Marck_Script/MarckScript-Regular.woff') format('woff'), url('../fonts/Marck_Script/MarckScript-Regular.ttf') format('truetype'), url('../fonts/Marck_Script/MarckScript-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}