<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Новогодние ели
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
    body
        main
            section.guest-page
                .wrapper.flex
                    p.logo Новогодние Ели
                    .spruce
                    p.phone +7-952-800-80-80
                    button.btn.main-btn Купить
            section.catalog
                .wrapper
            section.description
                .wrapper
            section.advantages
                .wrapper
            section.contacts
                .wrapper
        footer